#mainNav {
    box-shadow: $box-shadow;
    background-color: $white;
    // transition: background-color 0.2s ease;
    padding-top: 1rem !important;
    // transition: all .15s ease-out;
    transition: background-color 0.1s ease-out, padding 0.15s ease-out;
    // transition: ;
    max-height: 72px;
    // overflow: hidden;
    box-shadow: none;
    // background-color: rgba($overlay-bg, .75);
    background-color: transparent;

    .navbar-brand {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        // color: $gray-900;
        color: fade-out($white, 0.3);

        &:hover {
            color: $white;
        }
        img {
            filter: invert(1);
            opacity: .8;
            transition: all 0.15s ease-out;
            width: 150px;
            &:hover {
                opacity: 1;
            }
        }
    }

    .navbar-nav {
        &.navbar-search-wrapper {
            width: 100%;
            @include media-breakpoint-up(lg) {
                height: 72px;
                overflow: hidden;
                padding-right: 3px;
            }
        }

        .nav-item {
            .nav-link {
                color: $gray-600;
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                font-size: 0.9rem;
                padding: 0.75rem 0;
                color: fade-out($white, 0.3);
                padding: 0 1rem;

                &:hover {
                    color: $white;
                }
                // &:hover,
                &:active {
                    color: $primary;
                }

                &.active {
                    color: $primary !important;
                }
            }

            &:last-child {
                .nav-link {
                    padding-right: 0;
                }
            }
        }
    }

    &.navbar-scrolled {
        max-height: 72px;
        padding-top: 1rem !important;
        box-shadow: $box-shadow;
        background-color: $overlay-bg;

        .navbar-brand {
            color: #fffff;

            &:hover {
                color: $secondary;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    // color: $gray-900;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .navbar-search-toggler-wrapper {
        height: 40px;
        align-items: center!important;
        display: flex;
        overflow: hidden;
        width: 1rem;
        justify-content: center!important;
        // position: absolute;
        // top: 0;
        @include media-breakpoint-up(lg) {
            height: auto;
            overflow: visible;
        }
    }

    .navbar-search-toggler {
        display: block;
        margin-top: 96px;
        opacity: 0;
        transition: margin 0.15s ease-out, opacity 0.15s ease-out;
        color: $secondary;

        &.show-state {
            margin-top: 0 !important;
            opacity: 1 !important;
        }
    }

    .navbar-search-outer {
        height: 0;
        overflow: hidden;
        // display: none;
        position: absolute;
        display: flex;
        top: 72px;
        left: 0;
        width: 100%;
        padding: 0 1rem;
        background-color: $overlay-bg;
        margin-top: 0;
        transition: all 0.15s ease-out, opacity 0.15s ease-out;

        &.show.show-state {
            // padding: 1rem 1rem;
            margin-top: -20px;
            height: 100%;
            box-shadow: $box-shadow;
            @include media-breakpoint-up(lg) {
                box-shadow: none !important;
            }
            // display: block;
        }
        @include media-breakpoint-up(lg) {
            overflow: visible;
            height: auto;
            margin-top: 0;
            display: inline-block;
            position: relative;
            top: 0;
            width: unset;
            max-width: unset;
            padding: 0;
            background-color: transparent;
        }

        .container {
            padding: 0 !important;
            @include media-breakpoint-up(lg) {
                margin: 0 !important;
            }
        }
    }

    .navbar-search {
        margin-top: 0;
        opacity: 1;
        transition: margin 0.15s ease-out, opacity 0.15s ease-out;
        @include media-breakpoint-up(lg) {
            margin-top: 96px;
            opacity: 0;
        }

        &.show-state {
            margin-top: 0 !important;
            opacity: 1 !important;
        }

        .search-secton {
            display: flex;
            width: 100%;
        }

        .input-search {
            border-radius: 20px;
            padding-right: 5rem;
            border: none;
        }

        .search-btn {
            border-radius: 20px;
            width: 5rem;
            margin-left: -5rem;
        }

        .random-btn {
            border-radius: 20px;
            margin-left: 0.5rem;
        }
    }
    @include media-breakpoint-up(md) {
        max-height: 96px;
        padding-top: 2.5rem !important;
        background-color: transparent;
    }
}
